interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4100000000000019&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABYE60z0O0voXkXbf1dD0\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unavailable\",\n\
        \    \"fingerprint\": \"9jhAPa4olihRvO5Z\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"0019\",\n    \"three_d_secure\": \"optional\",\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_Clhaq4rj5VJxPGQZF4tY88sc\"\
        ,\n  \"created\": 1524987784,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\"\
        : null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n\
        \  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMABYE60z0O0voXkXbf1dD0
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABYE60z0O0voXkXbf1dD0\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unavailable\",\n\[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=https%3A%2F%2FIwillBeBack.vd&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CMABYE60z0O0voXkXbf1dD0'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABcE60z0O0voXZxHO3GuW\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_ClhaiyW6YgEFGcwYUdoaXwiu\",\n  \"created\": 1524987788,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": null,\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"https://IwillBeBack.vd\",\n    \"status\":\
        \ \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CMABcE60z0O0voXZxHO3GuW?client_secret=src_client_secret_ClhaiyW6YgEFGcwYUdoaXwiu\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CMABYE60z0O0voXkXbf1dD0\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C152&source=src_1CMABYE60z0O0voXkXbf1dD0'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"charge\": \"ch_1CMABdE60z0O0voXSfigYAlk\"\
        ,\n    \"code\": \"card_declined\",\n    \"decline_code\": \"fraudulent\"\
        ,\n    \"doc_url\": \"https://stripe.com/docs/error-codes/card-declined\"\
        ,\n    \"message\": \"Your card was declined.\",\n    \"type\": \"card_error\"\
        \n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 402, message: Payment Required}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CT7U1E60z0O0voXlhwsicEV
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CT7U1E60z0O0voXlhwsicEV\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unavailable\",\n\[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=https%3A%2F%2FIwillBeBack.vd&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CT7U1E60z0O0voXlhwsicEV'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CT7U3E60z0O0voXltHXMJHr\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_CstGPjx5pU6bQYMpQlFsFaqW\",\n  \"created\": 1526645695,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": {\n      \"city\":\
        \ null,\n      \"country\": null,\n      \"line1\": \"\",\n      \"line2\"\
        : null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n   \
        \ \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"https://IwillBeBack.vd\",\n    \"status\":\
        \ \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CT7U3E60z0O0voXltHXMJHr?client_secret=src_client_secret_CstGPjx5pU6bQYMpQlFsFaqW\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CT7U1E60z0O0voXlhwsicEV\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1EFMrsL5bxql5W5WSOIjAPQx
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFMrsL5bxql5W5WSOIjAPQx\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"0019\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\": \"unchecked\",\n \
        \   \"fund[...]
[...]
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C62&source=src_1EFMrsL5bxql5W5WSOIjAPQx'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"charge\": \"ch_1EFMrvL5bxql5W5WlbCrbWOJ\"\
        ,\n    \"code\": \"card_declined\",\n    \"decline_code\": \"fraudulent\"\
        ,\n    \"doc_url\": \"https://stripe.com/docs/error-codes/card-declined\"\
        ,\n    \"message\": \"Your card was declined.\",\n    \"type\": \"card_error\"\
        \n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 402, message: Payment Required}
version: 1
