interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=378282246310005&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMAAJE60z0O0voXA8eN62hP\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"American Express\",\n  \
        \  \"card_automatically_updated\": false,\n    \"country\": \"US\",\n    \"\
        cvc_check\": \"unchecked\",\n    \"fingerprint\": \"Uprp5MbueMDuRAYU\",\n\
        \    \"funding\": \"credit\",\n    \"last4\": \"0005\",\n    \"three_d_secure\"\
        : \"not_supported\",\n    \"address_line1_check\": null,\n    \"address_zip_check\"\
        : null,\n    \"tokenization_method\": null,\n    \"dynamic_last4\": null\n\
        \  },\n  \"client_secret\": \"src_client_secret_ClhZikcVuE6C4twBH26Orbss\"\
        ,\n  \"created\": 1524987707,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\"\
        : null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n\
        \  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMAAJE60z0O0voXA8eN62hP
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMAAJE60z0O0voXA8eN62hP\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"American Express\",\n  \
        \  \"card_automatically_updated\": false,\n    \"country\": \"US\",\n    \"\
        cvc_check[...]
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C143&source=src_1CMAAJE60z0O0voXA8eN62hP'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1CMAAME60z0O0voX8Z866Pcc\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 294750,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"balance_transaction\"\
        : \"txn_1CMAAME60z0O0voX0Uj2uQbj\",\n  \"captured\": true,\n  \"created\"\
        : 1524987710,\n  \"currency\": \"usd\",\n  \"customer\": null,\n  \"description\"\
        : \"SO002|deltapc@yourcompany.example.com|143\",\n  \"destination\": null,\n\
        \  \"dispute\": null,\n  \"failure_code\": null,\n  \"failure_message\": null,\n\
        \  \"fraud_details\": {},\n  \"invoice\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"\
        outcome\": {\n    \"network_status\": \"approved_by_network\",\n    \"reason\"\
        : null,\n    \"risk_level\": \"normal\",\n    \"seller_message\": \"Payment\
        \ complete.\",\n    \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"\
        receipt_email\": null,\n  \"receipt_number\": null,\n  \"refunded\": false,\n\
        \  \"refunds\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/charges/ch_1CMAAME60z0O0voX8Z866Pcc/refunds\"\
        \n  },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1CMAAJE60z0O0voXA8eN62hP\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_year\": 2040,\n      \"\
        exp_month\": 12,\n      \"brand\": \"American Express\",\n      \"card_automatically_updated\"\
        : false,\n      \"country\": \"US\",\n      \"cvc_check\": \"pass\",\n   \
        \   \"fingerprint\": \"Uprp5MbueMDuRAYU\",\n      \"funding\": \"credit\"\
        ,\n      \"last4\": \"0005\",\n      \"three_d_secure\": \"not_supported\"\
        ,\n      \"address_line1_check\": null,\n      \"address_zip_check\": null,\n\
        \      \"tokenization_method\": null,\n      \"dynamic_last4\": null\n   \
        \ },\n    \"client_secret\": \"src_client_secret_ClhZikcVuE6C4twBH26Orbss\"\
        ,\n    \"created\": 1524987710,\n    \"currency\": null,\n    \"flow\": \"\
        none\",\n    \"livemode\": false,\n    \"metadata\": {},\n    \"owner\": {\n\
        \      \"address\": null,\n      \"email\": null,\n      \"name\": null,\n\
        \      \"phone\": null,\n      \"verified_address\": null,\n      \"verified_email\"\
        : null,\n      \"verified_name\": null,\n      \"verified_phone\": null\n\
        \    },\n    \"statement_descriptor\": null,\n    \"status\": \"consumed\"\
        ,\n    \"type\": \"card\",\n    \"usage\": \"reusable\"\n  },\n  \"source_transfer\"\
        : null,\n  \"statement_descriptor\": null,\n  \"status\": \"succeeded\",\n\
        \  \"transfer_group\": null\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMZDtE60z0O0voXPNXBDunN
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMZDtE60z0O0voXPNXBDunN\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"American Express\",\n  \
        \  \"card_automatically_updated\": false,\n    \"country\": \"US\",\n    \"\
        cvc_check[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMZRKE60z0O0voXA1rlFk9l
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMZRKE60z0O0voXA1rlFk9l\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"American Express\",\n  \
        \  \"card_automatically_updated\": false,\n    \"country\": \"US\",\n    \"\
        cvc_check[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMZSIE60z0O0voXasfQ4kQP
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMZSIE60z0O0voXasfQ4kQP\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"American Express\",\n  \
        \  \"card_automatically_updated\": false,\n    \"country\": \"US\",\n    \"\
        cvc_check[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CT7SxE60z0O0voXatl2bWiL
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CT7SxE60z0O0voXatl2bWiL\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"American Express\",\n  \
        \  \"card_automatically_updated\": false,\n    \"country\": \"US\",\n    \"\
        cvc_check[...]
[...]
