interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4000000000000069&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABFE60z0O0voXzYdJIiA5\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \
        \  \"fingerprint\": \"ClxQOxt3gt3CzLGA\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"0069\",\n    \"three_d_secure\": \"optional\",\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_Clha0NUAwX7qG5IIqNGG98cE\"\
        ,\n  \"created\": 1524987765,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\"\
        : null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n\
        \  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMABFE60z0O0voXzYdJIiA5
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABFE60z0O0voXzYdJIiA5\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=https%3A%2F%2FIwillBeBack.vd&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CMABFE60z0O0voXzYdJIiA5'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABIE60z0O0voXvNqJnarA\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_Clha0E0uBTaVNfbcqQGvOWA8\",\n  \"created\": 1524987768,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": null,\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"https://IwillBeBack.vd\",\n    \"status\":\
        \ \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CMABIE60z0O0voXvNqJnarA?client_secret=src_client_secret_Clha0E0uBTaVNfbcqQGvOWA8\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CMABFE60z0O0voXzYdJIiA5\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C149&source=src_1CMABFE60z0O0voXzYdJIiA5'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"charge\": \"ch_1CMABJE60z0O0voXPOelo3bw\"\
        ,\n    \"code\": \"expired_card\",\n    \"doc_url\": \"https://stripe.com/docs/error-codes/expired-card\"\
        ,\n    \"message\": \"Your card has expired.\",\n    \"param\": \"exp_month\"\
        ,\n    \"type\": \"card_error\"\n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 402, message: Payment Required}
version: 1
