interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4242424242424242&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABfE60z0O0voX8DAhH4yY\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \
        \  \"fingerprint\": \"kXi8sQ3nJYkhxXwn\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"4242\",\n    \"three_d_secure\": \"optional\",\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_ClhaZaZgGLSdXSU3T59SYnhA\"\
        ,\n  \"created\": 1524987791,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\"\
        : null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n\
        \  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CMABfE60z0O0voX8DAhH4yY
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABfE60z0O0voX8DAhH4yY\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=https%3A%2F%2FIwillBeBack.vd&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CMABfE60z0O0voX8DAhH4yY'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CMABiE60z0O0voX7gYnhUEf\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_ClhaBDlLSuF8XIe4najaDf4r\",\n  \"created\": 1524987794,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": null,\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"https://IwillBeBack.vd\",\n    \"status\":\
        \ \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CMABiE60z0O0voX7gYnhUEf?client_secret=src_client_secret_ClhaBDlLSuF8XIe4najaDf4r\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CMABfE60z0O0voX8DAhH4yY\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C153&source=src_1CMABfE60z0O0voX8DAhH4yY'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1CMABkE60z0O0voXPl7aFEAh\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 294750,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"balance_transaction\"\
        : \"txn_1CMABkE60z0O0voXLNav0qjQ\",\n  \"captured\": true,\n  \"created\"\
        : 1524987796,\n  \"currency\": \"usd\",\n  \"customer\": null,\n  \"description\"\
        : \"SO002|deltapc@yourcompany.example.com|153\",\n  \"destination\": null,\n\
        \  \"dispute\": null,\n  \"failure_code\": null,\n  \"failure_message\": null,\n\
        \  \"fraud_details\": {},\n  \"invoice\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"\
        outcome\": {\n    \"network_status\": \"approved_by_network\",\n    \"reason\"\
        : null,\n    \"risk_level\": \"normal\",\n    \"seller_message\": \"Payment\
        \ complete.\",\n    \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"\
        receipt_email\": null,\n  \"receipt_number\": null,\n  \"refunded\": false,\n\
        \  \"refunds\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/charges/ch_1CMABkE60z0O0voXPl7aFEAh/refunds\"\
        \n  },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1CMABfE60z0O0voX8DAhH4yY\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_year\": 2040,\n      \"\
        exp_month\": 12,\n      \"brand\": \"Visa\",\n      \"card_automatically_updated\"\
        : false,\n      \"country\": \"US\",\n      \"cvc_check\": \"pass\",\n   \
        \   \"fingerprint\": \"kXi8sQ3nJYkhxXwn\",\n      \"funding\": \"credit\"\
        ,\n      \"last4\": \"4242\",\n      \"three_d_secure\": \"optional\",\n \
        \     \"address_line1_check\": null,\n      \"address_zip_check\": null,\n\
        \      \"tokenization_method\": null,\n      \"dynamic_last4\": null\n   \
        \ },\n    \"client_secret\": \"src_client_secret_ClhaZaZgGLSdXSU3T59SYnhA\"\
        ,\n    \"created\": 1524987796,\n    \"currency\": null,\n    \"flow\": \"\
        none\",\n    \"livemode\": false,\n    \"metadata\": {},\n    \"owner\": {\n\
        \      \"address\": null,\n      \"email\": null,\n      \"name\": null,\n\
        \      \"phone\": null,\n      \"verified_address\": null,\n      \"verified_email\"\
        : null,\n      \"verified_name\": null,\n      \"verified_phone\": null\n\
        \    },\n    \"statement_descriptor\": null,\n    \"status\": \"consumed\"\
        ,\n    \"type\": \"card\",\n    \"usage\": \"reusable\"\n  },\n  \"source_transfer\"\
        : null,\n  \"statement_descriptor\": null,\n  \"status\": \"succeeded\",\n\
        \  \"transfer_group\": null\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CT7U6E60z0O0voXFRrhBjuu
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CT7U6E60z0O0voXFRrhBjuu\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=https%3A%2F%2FIwillBeBack.vd&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CT7U6E60z0O0voXFRrhBjuu'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CT7U8E60z0O0voXGNeVAcmM\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_CstGGpjRUWz3dxXom8UWbvAU\",\n  \"created\": 1526645700,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": {\n      \"city\":\
        \ null,\n      \"country\": null,\n      \"line1\": \"\",\n      \"line2\"\
        : null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n   \
        \ \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"https://IwillBeBack.vd\",\n    \"status\":\
        \ \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CT7U8E60z0O0voXGNeVAcmM?client_secret=src_client_secret_CstGGpjRUWz3dxXom8UWbvAU\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CT7U6E60z0O0voXFRrhBjuu\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4242424242424242&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"code\": \"validation_error\"\
        ,\n    \"message\": \"You must verify a phone number on your Stripe account\
        \ before you can send raw credit card numbers to the Stripe API. You can avoid\
        \ this requirement by using Stripe.js, the Stripe mobile bindings, or Stripe\
        \ Checkout. For more information, see https://dashboard.stripe.com/phone-verification.\"\
        ,\n    \"type\": \"invalid_request_error\"\n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1EFMrxL5bxql5W5WgQue6sap
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFMrxL5bxql5W5WgQue6sap\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"4242\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\": \"unchecked\",\n \
        \   \"fund[...]
[...]
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C63&source=src_1EFMrxL5bxql5W5WgQue6sap'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1EFMs0L5bxql5W5Wnru5KVSe\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 294750,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"application_fee_amount\"\
        : null,\n  \"balance_transaction\": \"txn_1EFMs0L5bxql5W5Ww76QLP0m\",\n  \"\
        captured\": true,\n  \"created\": 1552920920,\n  \"currency\": \"usd\",\n\
        \  \"customer\": null,\n  \"description\": \"SO002|deltapc@yourcompany.example.com|63\"\
        ,\n  \"destination\": null,\n  \"dispute\": null,\n  \"failure_code\": null,\n\
        \  \"failure_message\": null,\n  \"fraud_details\": {\n  },\n  \"invoice\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"on_behalf_of\"\
        : null,\n  \"order\": null,\n  \"outcome\": {\n    \"network_status\": \"\
        approved_by_network\",\n    \"reason\": null,\n    \"risk_level\": \"normal\"\
        ,\n    \"risk_score\": 40,\n    \"seller_message\": \"Payment complete.\"\
        ,\n    \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"payment_intent\"\
        : null,\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"receipt_url\"\
        : \"https://pay.stripe.com/receipts/acct_1BiloZL5bxql5W5W/ch_1EFMs0L5bxql5W5Wnru5KVSe/rcpt_EioVexbBXIgVpWH4dkJhP1X6N3jtkO2\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/ch_1EFMs0L5bxql5W5Wnru5KVSe/refunds\"\n \
        \ },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1EFMrxL5bxql5W5WgQue6sap\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_year\": 2040,\n      \"\
        exp_month\": 12,\n      \"last4\": \"4242\",\n      \"country\": \"US\",\n\
        \      \"brand\": \"Visa\",\n      \"cvc_chec[...]
