interactions:
- request:
    body: !!python/unicode '{"additionalData": {"executeThreeD": "true"}, "amount":
      {"currency": "USD", "value": 294750}, "merchantAccount": "AkretionCOM", "card":
      {"expiryYear": 2020, "holderName": "John Doe", "number": "5136333333333335",
      "expiryMonth": 10, "cvc": "737"}, "reference": "SO002|deltapc@yourcompany.example.com|76"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/authorise
  response:
    body: {string: !!python/unicode '{"pspReference":"8825277089650924","resultCode":"Authorised","authCode":"47488"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8825277089650924']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"merchantAccount": "AkretionCOM", "modificationAmount":
      {"currency": "USD", "value": 294750}, "originalReference": "8825277089650924"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/capture
  response:
    body: {string: !!python/unicode '{"pspReference":"8825277089670997","response":"[capture-received]"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8825277089670997']
    status: {code: 200, message: OK}
version: 1
