interactions:
- request:
    body: !!python/unicode '{"additionalData": {"executeThreeD": "true"}, "amount":
      {"currency": "USD", "value": 294750}, "merchantAccount": "AkretionCOM", "card":
      {"expiryYear": 2020, "holderName": "John Doe", "number": "4400000000000008",
      "expiryMonth": 10, "cvc": "737"}, "reference": "SO002|deltapc@yourcompany.example.com|75"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/authorise
  response:
    body: {string: !!python/unicode '{"pspReference":"8515277089604520","resultCode":"Authorised","authCode":"9966"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8515277089604520']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"merchantAccount": "AkretionCOM", "modificationAmount":
      {"currency": "USD", "value": 294750}, "originalReference": "8515277089604520"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/capture
  response:
    body: {string: !!python/unicode '{"pspReference":"8515277089624742","response":"[capture-received]"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8515277089624742']
    status: {code: 200, message: OK}
version: 1
