interactions:
- request:
    body: !!python/unicode '{"additionalData": {"executeThreeD": "true"}, "amount":
      {"currency": "USD", "value": 294750}, "merchantAccount": "AkretionCOM", "card":
      {"expiryYear": 2020, "holderName": "John Doe", "number": "4977949494949497",
      "expiryMonth": 10, "cvc": "wrong"}, "reference": "SO002|deltapc@yourcompany.example.com|77"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/authorise
  response:
    body: {string: !!python/unicode '{"status":422,"errorCode":"103","message":"CVC
        is not the right length","errorType":"validation","pspReference":"8515277089690172"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8515277089690172']
    status: {code: 422, message: Unprocessable Entity}
version: 1
