interactions:
- request:
    body: !!python/unicode '{"additionalData": {"executeThreeD": "true"}, "amount":
      {"currency": "USD", "value": 294750}, "merchantAccount": "AkretionCOM", "card":
      {"expiryYear": 2020, "holderName": "John Doe", "number": "4977949494949497",
      "expiryMonth": 10, "cvc": "737"}, "reference": "SO002|deltapc@yourcompany.example.com|74"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/authorise
  response:
    body: {string: !!python/unicode '{"pspReference":"8825277089576459","resultCode":"Authorised","authCode":"95496"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8825277089576459']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"merchantAccount": "AkretionCOM", "modificationAmount":
      {"currency": "USD", "value": 294750}, "originalReference": "8825277089576459"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/capture
  response:
    body: {string: !!python/unicode '{"pspReference":"8825277089590393","response":"[capture-received]"}'}
    headers:
      content-type: [application/json;charset=utf-8]
      pspreference: ['8825277089590393']
    status: {code: 200, message: OK}
version: 1
